<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server URL</string>
			<key>Key</key>
			<string>base_url</string>
			<key>DefaultValue1</key>
			<string>http://165.112.133.126:8080/gss10</string>
			<key>DefaultValue</key>
			<string>http://gss-dev.nci.nih.gov/gss10</string>
			<key>DefaultValue3</key>
			<string>http://gss-qa.nci.nih.gov/gss10</string>
			<key>DefaultValue4</key>
			<string>http://gss-stage.nci.nih.gov/gss10</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>History</string>
			<key>Key</key>
			<string>max_queries</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
				<integer>100</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5 queries</string>
				<string>10 queries</string>
				<string>20 queries</string>
				<string>50 queries</string>
				<string>100 queries</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Service Subtitle</string>
			<key>Key</key>
			<string>service_subtitle</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>url</string>
				<string>software</string>
				<string>host</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Service URL</string>
				<string>Software Name</string>
				<string>Hosting Center Name</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>show_hidden_services</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show hidden services</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>Key</key>
			<string>show_hidden_hosts</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show hidden hosts</string>
		</dict>
	</array>
</dict>
</plist>
